<link rel="stylesheet" type="text/css" href="static/css/style-vis.css"/>
<script type="text/javascript" src="static/js/head.load.min.js"></script>
<script>
    head.js(
        // External libraries
        'static/js/jquery.min.js', 'static/js/jquery.svg.min.js', 'static/js/jquery.svgdom.min.js',
        // brat helper modules
        'static/js/configuration.js', 'static/js/util.js', 'static/js/annotation_log.js', 'static/js/webfont.js',
        // brat modules
        'static/js/dispatcher.js', 'static/js/url_monitor.js', 'static/js/visualizer.js'
    );
    var webFontURLs = [
        'static/fonts/Astloch-Bold.ttf',
        'static/fonts/PT_Sans-Caption-Web-Regular.ttf',
        'static/fonts/Liberation_Sans-Regular.ttf'
    ];

    var getTextAreaValue = function (textareaId) {
        return $("#"+textareaId).val();
    };

    head.ready(function() {
        {#renderBratDisplay("instantbratdisplay", "docjson", "colljson");#}
        var collData = jQuery.parseJSON(getTextAreaValue("colljson").trim());
        var docData = jQuery.parseJSON(getTextAreaValue("docjson").trim());
        collData.collection = null;
        Util.embed("bratdisplay", collData, docData, webFontURLs);
    });
</script>
<textarea style="display:none" id="docjson">{{ brat_annotations | safe }}</textarea>
<textarea style="display:none" id="colljson">{{ brat_config | safe }}</textarea>

<div style="height: 100%" id="bratdisplay"></div>
