<!doctype html>
<html lang="en">

<head>
  <title>MMIF Visualization</title>
  <meta charset="utf-8">
  <link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>

<body>
<div class="panel panel-default">
  <div class="card-header">
    <h1 align="center"> Visualizing MMIF</h1>
  </div>
  <div class="card-body container-fluid">
    <div class="row">
      <div class="col" style="border-right: 2px solid #ccc";>
	<p>This is the MMIF visualization server.</p>
	<p>Use <a href="/upload">this uploader</a>
	  to upload and visualize a MMIF file.</p>
      </div>
    </div>
  </div>
</div>
</body>

</html>
