<div id="ocr_tab_{{view_id}}">
    {% for frame_num, frame in page %}
        {% set filename = frame["id"] %}
        {% set id = frame["id"] %}
        {% set boxes = frame["boxes"] %}
        {% set secs = frame["secs"] %}
        {% set repeat = frame["repeat"] %}
        <button type="button" class="collapsible-{{repeat}}">SHOW DUPLICATE(S)</button>
        <div class="repeat-{{repeat}}">
            <div class="ocr">
                {% include "image.html" %}
                <div>
                    <h4>
                        {% if frame["frame_num"] is not none %}
                            frame: {{frame["frame_num"]}}<br>
                        {% endif %}
                        {% if frame["range"] is not none %}
                            frames: {{frame["range"][0]}} - {{frame["range"][1]}}<br>
                        {% endif %}
                        {% if frame["timestamp"] is not none %}
                            timestamp: <a class="timestamp" onclick="SetCurTime('{{secs}}')">{{frame["timestamp"]}}</a><br>
                        {% endif %}
                        {% if frame["timestamp_range"] is not none %}
                            {% set sec_range = frame["sec_range"] %}
                            timestamps: <a class="timestamp" onclick="SetCurTime('{{sec_range[0]}}')">{{frame["timestamp_range"][0]}}</a> - <a class="timestamp" onclick="SetCurTime('{{sec_range[1]}}')">{{frame["timestamp_range"][1]}}</a><br>
                        {% endif %}
                        {% if frame["frametype"] is not none %}
                            frame type: {{frame["frametype"]}}<br>
                        {% endif %}
                        {% if frame["boxtypes"] %}
                            box types: {{frame["boxtypes"]}}<br>
                        {% endif %}

                        {% if frame["text"] %}
                            text detected:<br>
                            {% for text in frame["text"] %}
                                &emsp;{{text}}<br>
                            {% endfor %}
                        {% endif %}
                    </h4>
                </div>
            </div>
        </div>
    {% endfor %}
    {% if n_pages > 1 %}
        <div class="page-buttons">
        </div>
    {% endif %}
</div>

<style>
    /* .repeat-True {
      display: none;
    } */
    .ocr {
      display: flex;
      flex-direction: row;
      margin-bottom: 5px;
      margin-top: 20px;
    }
    .ocr > div {
      /* align-self: center; */
      margin-left: 10px;
    }
    .timestamp {
      color: #007bff  !important;
      cursor: pointer;
    }

    .collapsible-False {
        visibility: hidden
    }
    /* Style for the duplicate button */
    .collapsible-True {
        display: block;
        width: 350px;
        background-color: #f44336; /* Red */
        color: white;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        font-size: 1.2em;
        font-weight: bold;
        margin-top: 20px;
        letter-spacing: 2px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: background-color 0.3s ease;
    }
    /* Style for the duplicate button when hovered over */
    .collapsible-True:hover {
        background-color: #ff7961; /* Light red */
    }
    /* Style for the duplicate button when it's active */
    .collapsible-True.active {
        background-color: #4CAF50; /* Green */
    }
    canvas {
        align-self:flex-start;
    }
    .page-buttons {
        margin-top: 20px
    }
    #page-input {
        width: 30px;
    }
    .page-button {
        margin-right: 10px
    }
    #cur-page-button {
        background-color: #555B6E;
        color: white;
    }
    .repeats {
        background-color: rgba(0,0,0,.05);
        width: 50vw;
        display: none;
        padding: 10px;
    }
</style>

<script type="text/javascript">
BACKWARD = -1
FORWARD = -2

function changePage(page) {
        var data = {
            "vid_path": "{{vid_path}}",
            "view_id": "{{view_id}}",
            "page_number": parseInt("{{page_number}}")
        }
        if (page == BACKWARD) {
            data["page_number"] -= 1
        }
        else if (page == FORWARD) {
            data["page_number"] += 1
        }
        else {
            data["page_number"] = page;
        }
        if (data["page_number"] >= 0 && data["page_number"] < parseInt("{{n_pages}}")) {
            $.ajax({
            type:'POST',
            url:'/ocrpage',
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function(res_html){
              $('#ocr_tab_{{view_id}}').parent().html(res_html);
            }
        })
        }
    }
  
    function SetCurTime(timeValue) {
        const vid = document.getElementById("vid");
        vid.currentTime = timeValue;
    }

    function enterPageNumber() {
        changePage(document.getElementById('page-input').value-1)
        }

    $(document).ready(function() {
        
        // Duplicate frame groups
        $(".collapsible-True").each(function() {
            $(this).nextUntil(".collapsible-False", ".collapsible-True").remove();
            $(this).nextUntil(".repeat-False, #page-buttons").not(".repeat-False, .page-buttons").wrapAll('<div class="repeats" />')
            $(this).text(function(i, text) {
                n_repeats = $(this).next().children(".repeat-True").length;
                return text == `SHOW DUPLICATE(S)` ? `SHOW ${n_repeats} DUPLICATE(S)` : text
            })
        });

        $(".collapsible-True").click(function() {
            var repeatsDiv = $(this).next();
            repeatsDiv.slideToggle();
            $(this).text(function(i, text) {
                n_repeats = repeatsDiv.children(".repeat-True").length;
                return text == `SHOW ${n_repeats} DUPLICATE(S)` ? `HIDE ${n_repeats} DUPLICATE(S)` : `SHOW ${n_repeats} DUPLICATE(S)`
            })
        })

        $("#ocr_tab_{{view_id}} .page-buttons").each(function() {
            page_number = parseInt("{{page_number}}")
            n_pages = parseInt("{{n_pages}}")

            if (page_number > 0) {
                $(this).append(`<button class="page-button" onClick=changePage(0)>\<\<</button>`)
                $(this).append(`<button class="page-button" onClick=changePage(${-1})>\<</button>`)
            }

            lower_bound = page_number < 6 ? 0 : page_number-5;
            upper_bound = n_pages - page_number < 7 ? n_pages : page_number+6
            for (var i = lower_bound; i < upper_bound; i++) {
                var id = ""
                if (i == page_number) {
                    id = "cur-page-button"
                }
                $(this).append(`<button class="page-button" id="${id}" onClick=changePage(${i})>${i+1}</button>`)
            }

            if (page_number < n_pages-1) {
                $(this).append(`<button class="page-button" onClick=changePage(${-2})>\></button>`)
                $(this).append(`<button class="page-button" onClick=changePage(${n_pages-1})>\>\></button>`)
            }

            $(this).append(`<input id="page-input" onKeyPress="if(event.keyCode==13) enterPageNumber();" />`)
        })
    })
  </script>