<div id="ocr_tab">

    {% for i in range(lower_n, upper_n+1) %}
        {% if i < frames|length and i >= 0 %}
        {% set frame_num, frame = frames[i] %}
        {% set filename = frame["id"] %}
        {% set id = frame["id"] %}
        {% set boxes = frame["boxes"] %}
        {% set secs = frame["secs"] %}
        {% set repeat = frame["repeat"] %}
        <button type="button" class="collapsible-{{repeat}}">SHOW DUPLICATE(S)</button>
        <div class="repeat-{{repeat}}">
            <div class="ocr">
                {% include "image.html" %}
                <div>
                    <h4>
                        {{i}} {{frames|length}}<br>
                        frame: {{frame_num}}<br>
                        timestamp: <a class="timestamp" onclick="SetCurTime('{{secs}}')">{{frame["timestamp"]}}</a><br>
                        text detected:<br>
                        {% for text in frame["text"] %}
                        &emsp;{{text}}<br>
                        {% endfor %}
                    </h4>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}

    <div id="page-buttons">
        {% if lower_n != 0 %}
            <button onclick="changePage(0)">Previous Page</button>
        {% endif %}
        {% if upper_n < frames|length-1 %}
            <button onclick="changePage(1)">Next Page</button>
        {% endif %}
    </div>

</div>

<style>
    .collapsible-False {
        visibility: hidden
    }
    /* Style for the duplicate button */
    .collapsible-True {
        display: block;
        width: 350px;
        background-color: #f44336; /* Red */
        color: white;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        font-size: 1.2em;
        font-weight: bold;
        margin-top: 20px;
        letter-spacing: 2px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: background-color 0.3s ease;
    }

    /* Style for the duplicate button when hovered over */
    .collapsible-True:hover {
        background-color: #ff7961; /* Light red */
    }

    /* Style for the duplicate button when it's active */
    .collapsible-True.active {
        background-color: #4CAF50; /* Green */
    }

    canvas {
        align-self:flex-start;
    }

    #page-buttons {
        margin-top: 20px
    }

    .repeats {
        background-color: aqua;
    }

</style>

<script type="text/javascript">

function changePage(direction) {

        var data = {
            "vid_path": "{{vid_path}}",
            "frames": "{{frames}}",
            "alignments": "{{alignments}}",
            "text_docs": "{{text_docs}}",
            "lower_n": parseInt("{{lower_n}}"), 
            "upper_n": parseInt("{{upper_n}}"),
            "step": parseInt("{{step}}")
        }
        console.log(data["lower_n"]);
        console.log(data["upper_n"]);
        console.log(data["step"]);
        const step = parseInt(data["step"]);
        if (direction == 1) {
            data["lower_n"] = data["upper_n"]+1;        
        }
        else {
            data["lower_n"] -= step;  
        }
        data["upper_n"] = data["lower_n"] + step - 1;
        $.ajax({
            type:'POST',
            url:'/ocrpage',
            data: data,
            success: function(res_html){
              $('#ocr_tab').parent().html(res_html);
            }
        })
    }
  
    function SetCurTime(timeValue) {
        const vid = document.getElementById("vid");
        vid.currentTime = timeValue;
    }

    $(".collapsible-True").nextUntil(".collapsible-False", ".collapsible-True").remove()

    $(".collapsible-True").click(function() {
        $(this).nextUntil(".repeat-False, #page-buttons").slideToggle();
        $(this).text(function(i, text) {
            return text == "SHOW DUPLICATE(S)" ? "HIDE DUPLICATE(S)" : "SHOW DUPLICATE(S)"
        })
    })
  
  </script>