<!doctype html>
<html lang="en">

<head>
    <title>MMIF Visualization</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<style>
    /* make video player dynamically resized */
    video {
        width: 100%    !important;
        height: auto   !important;
    }
</style>
<body>
<div class="panel panel-default">
    <div class="card-header">
        <h1 align="center"> Visualizing <abbr title="MultiMedia Interchange Format">MMIF</abbr> </h1>
    </div>
    <div class="card-body container-fluid">
        <div class="row">
            <div class="col">
                {% if media.endswith(".mp4") %}
                    <video controls src={{ media }}></video>
                {% endif %}
                {% if media.endswith(".png") %}
                    <canvas id="imgCanvas" width="350" height="1000"></canvas>
                    <script>
                        var ann_view = {{ boxes|tojson }}
                        var canvas = document.getElementById('imgCanvas');
                        var context = canvas.getContext('2d');
                        var imageObj = new Image();
                        imageObj.src = '{{ media }}';

                        imageObj.onload = function() {
                            var imgWidth = imageObj.naturalWidth;
                            var screenWidth  = canvas.width;
                            var scaleX = 1;
                            if (imgWidth > screenWidth)
                                scaleX = screenWidth/imgWidth;
                            var imgHeight = imageObj.naturalHeight;
                            var screenHeight = canvas.height;
                            var scaleY = 1;
                            if (imgHeight > screenHeight)
                                scaleY = screenHeight/imgHeight;
                            var scale = scaleY;
                            if(scaleX < scaleY)
                                scale = scaleX;
                            if(scale < 1){
                                imgHeight = imgHeight*scale;
                                imgWidth = imgWidth*scale;
                            }
                            canvas.height = imgHeight;
                            canvas.width = imgWidth;

                            context.drawImage(imageObj, 0, 0, imageObj.naturalWidth, imageObj.naturalHeight, 0,0, imgWidth, imgHeight);
                                                    context.beginPath();
                            context.lineWidth = "4";
                            context.strokeStyle = "green";
                            context.scale(scale, scale);

                            for (var i=0; i < ann_view["annotations"].length; i++){
                                var box = ann_view["annotations"][i];
                                var coord = (box["feature"]["box"]);
                                x = coord[0];
                                y = coord[1];
                                w = coord[2] - coord[0];
                                h = coord[3] - coord[1];
                                context.rect(x, y, w, h);
                            }
                            context.stroke();
                        }
                    </script>
                {% endif %}
            </div>
            <div class="col-lg-8">
                <ul class="nav nav-t abs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#rawmmif">Raw MMIF</a>
                    </li>
                    {% for annotation in annotations %}
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#{{ annotation[0] }}">{{ annotation[0] }}</a>
                        </li>
                    {%  endfor %}
                </ul>

                <div class="tab-content">
                    <div id="rawmmif" class="tab-pane fade show active">
                        <p>{{ mmif }}</p>
                    </div>
                    {% for annotation in annotations %}
                        <div id="{{ annotation[0] }}" class="tab-pane fade">
                            {{ annotation[1] | safe }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>