<!-- TODO: This behavior should be standardized across pages/tabs -->

<div class="loader-container">
    <div class="loader"></div>
</div>

<script>
    loaded_ocr_tabs = [];

    // Lazy load OCR element (for very large files)
    $(".nav-item.{{tabname}}").click(function() {
        if (loaded_ocr_tabs.includes("{{tabname}}"))
            return
        loaded_ocr_tabs += "{{tabname}}";
        var data = {
            "view_id": "{{view_id}}",
            "mmif_id": "{{mmif_id}}"
        }
        $.ajax({
            type:'POST',
            url:'/ocr',
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function(res_html){
              $('#{{tabname}}').html(res_html);
            },
            error: function(error_msg){
                $('#{{tabname}}').html(error_msg);
            }
        })

})
</script>